canvas.drawing {
  width: 99vw;
  height: 97.5vh;
  display: block;
}

canvas.text {
  position: absolute;
  left: 7px;
  top: 8px;
  width: 99vw;
  height: 97.5vh;
  z-index: 10;
}




.tools {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
  
}

.info {
  user-select: none;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.grid {
  display: grid;
  grid-template-columns: 8fr 1fr;
}

.grid2 {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-flow: column;
}

.flex-row {
  display: flex;
  flex-flow: row;
  
}

.align-center{
align-items: center;
}
.cont {
  justify-content: center;
  /* width: 80%; */
}

.row {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.w-60 {
  width: 60%;

}

.w-80 {
  width: 80%;
}

.absolute-div {
  position: absolute;
  left: 1rem;
  top: 2rem;
  user-select: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

td:first-child {
  padding-right: 10px;
  color: rgb(0, 85, 134);
  font-weight: bold;

}

table {
  font-size: small;
}

@font-face {
  font-family: 'gost_type_a';
  src: url('./fonts/GOST\ type\ A.ttf');
}